<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid max-bar">
    <a class="navbar-brand max-bar" href="#" style="display: flex">
      <img
        src="../../../assets/img/LOGO_CONEVAL.svg"
        alt="Logo"
        class="img-logo"
        style="height: 100%"
      />
      <div class="v-line"></div>
      <div class="title">SARC</div>
    </a>
  </div>

  <div class="container-fluid max-bar"></div>

  <div class="container-fluid max-bar">
    <div class="max-bar" style="text-align: end" style="width: 32vw">
      <div
        class="row max-bar"
        style="height: 70px; width: 100%"
        style="text-align: end"
      >
        <div class="col-12" style="width: 100%">
          <img
            src="../../../assets/img/FRASE-CONEVAL.svg"
            alt=""
            class="ico-frase"
          />
        </div>
        <div class="col-12" style="text-align: end; margin-left: -20px">
          <img
            src="../../../assets/img/icono_facebook.svg"
            alt=""
            class="ico"
          />

          <img src="../../../assets/img/icono_youtube.svg" alt="" class="ico" />

          <img src="../../../assets/img/icono_twitter.svg" alt="" class="ico" />

          <img
            src="../../../assets/img/icono_instagram.svg"
            alt=""
            class="ico"
          />

          <img
            src="../../../assets/img/icono_wordpress.svg"
            alt=""
            class="ico"
          />

          <img src="../../../assets/img/icono_podcast.svg" alt="" class="ico" />
        </div>
      </div>
    </div>
  </div>
</nav>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> {{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Acceso</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/roles">Roles</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li><a class="btn btn-outline-primary">Sign In</a></li>
  
        <li class="dropdown">
          <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          </a>
  
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
             <button class="dropdown-item" type="submit">Sign Out</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  